/* ==UserStyle==
 * @name           Neoppuccin for Github
 * @namespace      github.com/asticassiasuletta
 * @version        1.0.0
 * @description    kill
 * @author         suletta
 * ==/UserStyle== */
@-moz-document domain("github.com") {
    body {
        background-color: #1f1927 !important; /* Dark background */
        color: #d7cdf4 !important;           /* Light text */
        --underlineNav-borderColor-active: #cb6af5;

    }
    .btn {
        background-color: #0e0713 !important
    }
    .GlobalNav {
        background-color: #130f18 !important;
    }
    .prc-Overlay-Overlay-jfs-T {
        background-color:#1f1927;
        color: #d7cdf4 !important;
    }
    .prc-Dialog-Dialog-G8cDF {
        color: #cb6af5;
        background-color: #130f18;
    }
    aside[aria-label="Account"] {
        background-color: #0e0713 !important
    }
    .feed-content {
        background-color: #130f18 !important
    }
    .dashboard-changelog {
        background-color: #1f1927 !important
    }
    .feed-item-content {
        background-color: #1f1927 !important
    }
    .color-bg-subtle {
        background-color: #251e2e !important
    }
    .color-bg-default {
        background-color: #130f18 !important
    }
    .ActionListItem:hover {
        background-color: #0e0713 !important
    }
    .Box-body {
        background-color: #0e0713;
    }
    .Box-header {
        background-color: #130f18
    }

    a {
        color: #d7cdf4 !important; /* Change link color */

    }
    .markdown-body table thead tr {
        background-color: #130f18
    }
    .markdown-body table tbody td {
        background-color: #1f1927
    }
    .markdown-body table tr:nth-child(2n) td {
        background-color: #130f18 !important;
    }
    .Box {
        background-color: #1f1927
    }
    .js-year-link.selected {
        background-color: #cb6af5 !important;
        color: #251e2e !important;
    }
    .js-year-link:hover {
        background-color: #0e0713 !important;
    }
    .InlineAutocomplete-module__container__NQUmo {
        background-color: #130f18 !important;
    }
    .ChatInput-module__toolbar__GgrRy {
        background-color: #130f18 !important;
    }
    .CommandPill-module__button__AvnQL {
        background-color: #130f18 !important;
    }
    .StarterPill-module__container__Lj4wi {
        background-color: #130f18 !important;
    }
}
